<nav class= "navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/top5">Most Popular Recipes</a>
  </ul>

<button class="btn btn-outline-secondary dropdown-toggle" id="dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search by Category</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" id="ingredient" href="#">Ingredient</a>
    <a class="dropdown-item" id="cocktail" href="#">Cocktail</a>
    <a class="dropdown-item" id="shot" href="#">Shot</a>
    <a class="dropdown-item" id="party" href="#">Punch / Party Drink</a>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" id="cocktailSearch" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="submit">Search</button>
  </form>
</nav>