<h1>My Saved Drinks</h1>

<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card">
    <img src="..." class="card-img-top" alt="Drink">
    <div class="card-body">
      <h5 class="card-title">Drink Title</h5>
      <p class="card-text">Ingredients</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><a href="#" class="btn btn-primary">Save this Drink!</a></small>
    </div>
    </div>