/* html, body{
  min-height: 500px;
} */

  /* body {
  background-image: linear-gradient(rgb(6, 33, 54), rgb(154, 196, 230)); */
/* } */ 

/* body {
  background-color: black;
}  */


.jumbotron-header {
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/newimage-size.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 75%; */
  background-position: center;
  text-align: center;
  text-shadow: black 2px 2px 4px;
  height: 350px;
  margin-bottom: 0px!important;
}

.display-4 {
  font-family: 'Major Mono Display', monospace;
  font-size: 72px;
  font-weight: bold;
  color: rgb(71, 209, 101);
  display: table;
  margin: 0px auto 0px auto;
  padding: 5px;
  font-size: 20px;
}

.lead {
  font-size: 35px;
  color: #ffffff;
  /* color: rgb(30, 255, 0); */
  font-weight: bold;
}

.navbar {
  margin-bottom: 0px!important;
  color: rgb(71, 209, 101);
}

.subheader {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.card {
  display:inline-block!important;
  margin-top: 25px!important;
  padding-right: 25px!important;
  padding-left: 25px!important;

}

.carousel {
  width:640px;
  height:360px;
  margin-left: auto!important;
  margin-right: auto!important;
}

/* .carousel-item {
  width:100%;
} */


ml-auto, .mx-auto {
  margin-left: auto !important;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: -50px;
}

.carousel-caption {
  background-color: hsla(360,0%,0%,0.5);
}

.carousel-caption:hover {
  background-color: hsla(360,0%,0%,0.7);
}

.view-recipe {
  color: rgb(71, 209, 101);
}

.jumbsize {
  margin-left: auto !important;
  margin-right: auto !important;
  width:900px;
  height:640px;
  background-color:rgb(71, 209, 101)!important;
  border: 5px;
  border-style: solid;
  border-color: white;
}

.subheader-footer {
  font-family: 'Major Mono Display', monospace;
  padding-bottom: 25px;
}

.resources {
  padding-bottom: 25px;
}

.makegreen {
  color: rgb(71, 209, 101);
}

.details-jumb {
  background-color:rgb(71, 209, 101)!important;
  border: 5px;
  border-style: solid;
  border-color: white;
  color: white;
}
